
<h1>Lessons With Me</h1>
<p>Below you can calulate the total for tennis lessons with me. I charge 5 dollars an hour since I get to enjoy playing as well</p>
<div>
    <label for="hours">Enter the number of hours you need:</label>
    <input type="text" id="hours" />
</div>
<div>
    <label>Charge per hour:</label>
    <input type="text" id="charge" value="50" readonly />
</div>
<div>
    <button id="calculate">Calculate Total</button>
</div>
<div>
    <label>Total:</label>
    <span id="total"></span>
</div>

