
<div class="text-center">
    <h1 class="display-4">About Caleb Gooch</h1>
    <p>
        When I was a freshman in high school, my good friends Riley and Trenton told me I should play tennis with him.
        None of us had ever played tennis before, but we all tried out and made the team. 
    </p>
    <img src="~/trenton.jpg" height="150px" />
    <p>
        Over the next four years, I played a lot of tennis and got significantly better, even going undefeated in singles during the regular season my senior year.
    </p>
    <img src="~/serve.jpg" height="150px" />
    <p>Now, I want to teach you to play!</p>
</div>
